extends base.jade

block header
	<h1>Institution

block content
	p
		#institutions

	div(class="container")
		table(class="table table-condensed table-striped")
			thead
				tr
					th No.
					th Name
					th Address
					th Category
					th Capacity
					th
			tbody
				each institution in institutions
					tr
						td 
						td #{institution.name}
						td #{institution.address}
						td #{institution.category}
						td #{institution.capacity}
						td
							a(id="delete",class="label label-danger")
								span(class="glyphicon glyphicon-remove")
	br
	br

	div(class="row")
		div(class="col-md-offset-1 col-md-10")
			form(id="add-form",class="form-horizontal",action="http://localhost:8000/api/institutions",method="POST")
				fieldset
					legend Add Institution
					br
					div(class="form-group")
						label(for="name",class="control-label col-md-2") Name
						div(class="col-md-10")
							input(type="text",class="form-control",id="name",name="name",placeholder="Name")
					div(class="form-group")
						label(for="address",class="control-label col-md-2") Address
						div(class="col-md-10")
							input(type="text",class="form-control col-md-10",id="address",name="address",placeholder="Address")
					div(class="form-group")
						label(for="category",class="control-label col-md-2") Category
						div(class="col-md-10")
							select(multiple,id="category",name="category",class="form-control col-md-10")
								option Children
								option AID
					div(class="form-group")
						label(for="capacity",class="control-label col-md-2") Capacity
						div(class="col-md-10")
							input(type="number",class="form-control col-md-10",id="address",name="capacity",placeholder="Capacity")

					div(class="form-group")
						div(class="col-md-offset-2 col-md-10")
							button(type="button",class="btn btn-default",id="submit-form") Add 


block js
	script(type="text/javascript").
		$(function() {
			var getFormData = function($form){
			    var unindexed_array = $form.serializeArray();
			    var indexed_array = {};

			    $.each(unindexed_array, function(i, n){
			        indexed_array[n['name']] = n['value'];
			    });
			    return indexed_array;
			}
			$('#submit-form').click(function() {
				console.log($('#add-form').serialize);
				$.ajax({
					url: $('#add-form').attr('action'),
					method: $('#add-form').attr('method'),
					data: JSON.stringify(getFormData($('#add-form'))),
					contentType: 'application/json',
					success: function(res) {
						alert(JSON.stringify(res));
						var r = jQuery.parseJSON(JSON.stringify(res));
						if(r.error)
							alert("Error :" + r.error);
						else
							location.reload();
					}
					
				});
			});
		});

